.valid-words
{
    margin: 3% 0 5% 10%;
}

.valid-words div
{
    margin-left: 4%;
}

.word-link
{
    color: blue;
    text-decoration: none;
}

.word-link:hover
{
    color: darkblue;
}

/* Media Querys */

/* Larger Screens */
@media (min-width: 2560px)
{

    .valid-words
    {
        margin: 3% 0 2% 16%;
    }

}

@media (max-width: 768px)
{

    .valid-words
    {
        margin: 3% 0 2% 5%;
    }

}