/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* Default Styles */
.container
{
    font-family: 'Montserrat', sans-serif;
}

.home-header
{
    font-style: italic;
    margin-top: 5%;
    text-align: center;
}

.invalid-words
{
    margin: 3% 0 5% 10%;
}

.invalid-words div
{
    margin-left: 4%;
    position: relative;
    left: 5px;
}

.invalid-word
{
    color:red;
}

.invalid-word:hover
{
    color: darkred;
}


/* Media Querys */

/* Larger Screens */
@media (min-width: 2560px)
{

    .invalid-words
    {
        margin: 3% 0 5% 16%;
    }

}

/* Smaller Screens */
@media (max-width: 768px)
{

    .invalid-words
    {
        margin: 3% 0 2% 5%;
    }

}