/* .show-word-header
{

} */

.show-details-container
{
    max-width: 100%;
    margin-top: 2%;
    margin-left: 2%;
}

.home-link
{
    color: blue;
    text-decoration: none;
}

.home-link:hover
{
    color: darkblue;
}

#show-word-title
{
    text-align: center;
    margin-bottom: 4%;
    margin-right: 5%;
}

.word-title-info, .word-origin
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
}

.word-title-info h3
{
    padding-right: 10%;
}

.word-origin h3
{
    margin-right: 3%;
}

#word-origin-span
{
    padding-left: 5%;
    font-size: medium;
}

.word-details
{
    margin-top: 3%;
    margin-left: 10%;
}

.word-attribute
{
    margin-left: 20%;
    display: flex;
    align-items: center;
}

.word-attribute h3
{
    margin-right: 10%;
}

.word-definition
{
    position: relative;
    right: 1%;
}

.word-synonyms, .word-antonyms
{
    position: relative;
    right: 2%;
}