/* .show-word-header
{

} */

.show-details-container
{
    max-width: 100%;
    margin-top: 2%;
    margin-left: 2%;
}

.home-link
{
    color: blue;
    text-decoration: none;
}

.home-link:hover
{
    color: darkblue;
}

#show-word-title
{
    text-align: center;
    margin-bottom: 4%;
    margin-right: 5%;
}

.word-title-info, .word-origin
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2%;
}

.word-title-info h3
{
    padding-right: 10%;
}

.word-origin h3
{
    margin-right: 3%;
}

#word-origin-span
{
    padding-left: 5%;
    font-size: medium;
}

.word-details
{
    margin-top: 3%;
    margin-left: 10%;
}

.word-attribute
{
    margin-left: 20%;
    display: flex;
    align-items: center;
}

.word-attribute h3
{
    margin-right: 10%;
}

.word-definition
{
    position: relative;
    right: 1%;
}

.word-synonyms, .word-antonyms
{
    position: relative;
    right: 2%;
}

/* Media Querys */

/* Larger Screens */

@media (min-width: 2560px)
{

    .show-details-container
    {
        margin: 0 auto;
    }

    .main-container
    {
        margin-left: 20%;
    }

    .show-word-header
    {
        margin-top: 2%;
    }

}

/* Smaller Screens */

@media (max-width: 1024px)
{

    .main-container
    {
        margin-left: 0%;
        margin-right: 30%;
    }
    
}

@media (max-width: 768px)
{

    .main-container
    {
        margin-left: 0%;
        margin-right: 50%;
    }
    
}

@media (max-width: 425px)
{

    .main-container
    {
        margin: 0 auto;
    }
    
    .show-word-header
    {
        margin-left: 5%;
    }

    .word-attribute
    {
        margin-left: 5%;
    }
    
}

@media (max-width: 375px)
{
    .show-details-container
    {
        margin: 0 auto;
    }

    .show-word-header
    {
        margin-left: 15%;
    }
    
    .word-attribute
    {
        margin-left: 5%;
    }
}